/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap'); */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
}

.registation {
  text-align: center;
  padding-bottom: 20px;
}

.user-registration .container {
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

/* utilities */
.container {
  display: flex;
  position: relative;
  margin-top: 3em;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  width: 700px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  padding: 25px 20px;
  margin: 0 auto;
  justify-content: center;
}

.form-control {
  padding-bottom: 1.4em;
}

form {
  width: 100%;
}

.input-control {
  width: 100%;
  border: solid gray 1px;
  padding: 10px 5px;
  line-height: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid gray;
}

input[type="text"],input[type="date"] {
  padding: 10px 5px;
  line-height: 10px;
}

input[type="checkbox"]{
  /* padding: 10px 5px; */
  width: 18px;
  height: 18px;
  border-radius: 5px;
}

input:focus {
  outline: none !important;
  border: 2px solid #4770df;
}

textarea:focus, input[type="date"]:focus, select:focus{
  outline: none !important;
  border: 2px solid #4770df;
}

.btn-form {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  background: #2060d6;
  color: #fff;
  border: none;
}

.btn-form:hover {
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
}

.form-control .labels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
 
@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: none;
  }
  .form-control .labels {
    display: grid;
    grid-template-columns: none;
  }
  .user-registration .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */
/* project */
.card-project {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  padding: 25px 20px;
  margin: 3em 0;
}

.card-project .grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

@media only screen and (max-width: 600px) {
  .card-project .grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: none;
  }
  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: none;
  }
  }

  /* Ticket creation */

  .card-ticket .grid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    gap: 15px;
  }

  .card-ticket {
    position: absolute;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  padding: 25px 20px;
  margin: 3em 0;
  }

  @media only screen and (max-width: 600px) {
    .card-ticket .grid {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: none;
    }
    .grid {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: none;
    }
    }

    /* reconciliation */

    .card-reconcil{
      position: absolute;
      width: 1000px;
      border-radius: 10px;
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
      padding: 50px 30px;
      margin: 5em 0;
    }

    .reconcil .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      
    }
    .input-control-file {
      width: 30%;
      border: solid gray 1px;
      padding: 10px 5px;
      line-height: 10px;
      font-size: 1.2rem;
      border-radius: 10px;
      border: 2px solid gray;
    }